:root {
    --Neutral-0: hsl(0, 0%, 100%);
    --Neutral-300: hsl(252, 6%, 83%);
    --Neutral-500: hsl(245, 15%, 58%);
    --Neutral-700: hsl(245, 19%, 35%);
    --Neutral-900: hsl(248, 70%, 10%);
}

html {
    font-family: "Inconsolata", monospace;
}

body {
    background-image: url("conference-ticket-generator-main/assets/images/background-mobile.png");
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
}

h1,
h2 {
    color: var(--Neutral-0);
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
}
